{% extends "base.html" %}
{% block title%}
Enter Credentials
{% endblock%}

{%block header%}
Login
{%endblock%}


{% block content%}

<div class="row justify-content-center" style="min-height:60vh">
    <div class="col-md-5">
        <h2 class="mb-3">User Login</h2>
        
        <form method="post" action="">
            {%csrf_token%}
            <div class="mb-3 d-flex justify-content-center">
                <table border="0">
                    {%for field in form.visible_fields%}
                    <tr>
                        <th style="text-align:left">

                            {{field.label_tag}}
                        </th>

                        <td>
                            {{field}}

                        </td>



                    </tr>



                    {%endfor%}


                </table>
            </div>

            <div class="d-grid mt-2 col-8 mx-auto">

                <button type="submit" name="login" class="btn btn-primary btn-lg" style="background-color:#8080e0; font-size: 20px;color: #0f0f0f;border:double">Login</button>

            </div>
        </form>

        <p class="text-center mt-3" style="font-size:25px;color:#ff0000">{{note}}</p>
        

    </div>

</div>

{%endblock%}